VITE_SANITY_PROJECT_ID=your_sanity_project_id
VITE_SANITY_DATASET=your_sanity_dataset_name
VITE_STATIC_FORMS_XYZ_API_KEY=static_forms_API_key
NCBI_API_KEY=your_PubMed_API_key
SERPAPI_KEY=your_serpapi_key
SCHOLAR_AUTHOR_ID=AUTHOR_ID